@use './../../styles/settings/variables' as *;

.c-app-header {
  height: $app-header__height;
  background-color: $app-header__bg;

  h1, h2 {
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 1 !important;
    font-size: inherit !important;
  }

  &__project-name {
    height: $app-header__upper-height;
    font-size: 0.75rem;
    color: $app-header__text--light;
    background-color: $app-header__bg--dark;
  }

  &__title {
    font-size: 2rem;
    padding-right: 4rem;

    &--no-back-button {
      padding-right: 0;
    }
  }

  &__back-button {
    padding-right: 1rem;
    width: 3rem;
    height: $app-header__lower-height;
    color: $app__text;
  }
}