<section class="v-welcome-screen">
  <p>Welcome-screen works!</p>

  <div class="row">
    <div class="col">
      <a [routerLink]="['/upload-spreadsheet']" class="c-app-button__button btn btn-primary p-0 d-flex justify-content-center align-items-center border-0 rounded-4" for="uploadSpreadsheetButton">
        <i class="c-app-button__icon bi bi-chat-left-dots-fill"></i>
      </a>
    </div>

    <div class="col d-flex justify-content-end">
      <a [routerLink]="['/train']" class="c-app-button__button btn btn-primary p-0 d-flex justify-content-center align-items-center border-0 rounded-4" for="uploadSpreadsheetButton">
        <i class="c-app-button__icon bi bi-mortarboard-fill"></i>
      </a>
    </div>
  </div>

</section>
